:root{

  --c_black: #000;
  --c_white: #fff;
  --c_lightgray: #F8F8F8;
  --c_primary: #0B9757;
  --c_border: #E3E3E3;
  --c_red: #8E0000;

  --c_form_white: #FCFCFC;
  --c_form_border: #E6E6E6;

  --form_width: 400px;

}